.outerContainer{
   width: 100%;
   padding: 1rem;
    height: 100%;
    background-color: rgb(232, 231, 231);
}
.searchContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.searchBox{
 border-radius: 10px !important;
 width: 18rem !important;
}
.tagBar{
    height: 2.5rem;
    background-color: rgb(164, 199, 228);
    margin-bottom: 1rem;
    display: flex;
    position: relative; /* add this */
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 2px #888888;
    padding: 10px;
}
.tagBarItem{
    display: inline;
    background-color: rgb(175, 247, 175);
    margin-left: 0.4rem;
    padding: 3px;
    border-radius: 5px;

}
.countBar{
    border:0.5px solid rgb(245, 207, 207);
    border-radius: 5px;
    background-color: white;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardContainer{
    margin: 0px 10px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    
}
.ptag{
    font-family: monospace;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.clearbutton {
    padding: 0.25rem 0.5rem;
    position: absolute; 
    right: 50px; 
  }



